/* Feuille de style pour les tests */
body {
  /* couleur d'arrière-plan */
  background-color: #f0f0f0;
}
h1 {
  /* titre centré */
  text-align: center;
}
#pausetxt {
  text-align: center;
  font-size: 3em;
  margin: 200px;
}
button, input[type="submit"], input[type="button"] {
  border-radius: 20px;
  border-width: 3px;
  margin-left: 6%;
  font-size: 48px;
  font-weight: bold;
  font-family: sans-serif;
  background-color: gold;
  padding: 4%;
  accent-color: transparent;
}
button:nth-of-type(2n+1) {
  background-color: chartreuse;
}
select {
  font-size: 24px;
  width: 5em;
}
#configuration:target {
  display: block;
}
#configuration {
  display: none;
  position: absolute;
  width: 20%;
  left: 40%;
  font-size: 24px;
  font-family: Noteworthy;
}
#PC{
  display: block;
  width:100%;
  text-align: center;
  margin-top: 8%;
  color: gray;
  font-size: 24pt;
}
#configuration:target+#PC {
  color: #efefef;
}
svg {
  /* svg maximisé dans son parent */
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
/* controle son */
#consigne {
  width: 2em;
  border-radius: 5pt;
}
.hidden {
  position: absolute;
  top: -99999px;
  left: -9999px;
  display: none;
}
#selectscreen {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 0;
  right: 0;
  margin: 0;
}
#testscreen {
  position: fixed;
  background-color: #f0f0f0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
}
#topitem {
  /* positionnement de l'item du haut */
  position: absolute;
  top: 10%;
  left: 33.5%;
  width: 33%;
  height: 45%;
  text-align: center;
}
.HG,.topleft {
  /* positionnement de l'item en haut à gauche */
  position: absolute;
  top: 10%;
  left: 11%;
  width: 33%;
  height: 45%;
  text-align: center;
}
.HD,.topright {
  /* positionnement de l'item en haut à droite */
  position: absolute;
  top: 10%;
  right: 11%;
  width: 33%;
  height: 45%;
  text-align: center;
}
.BG,.bottomleft {
  /* positionnement de l'item en bas à gauche */
  position: absolute;
  bottom: 0;
  left: 11%;
  width: 33%;
  height: 45%;
  text-align: center;
}
.BD,.bottomright {
  /* positionnement de l'item en bas à droite */
  position: absolute;
  bottom: 0;
  right: 11%;
  width: 33%;
  height: 45%;
  text-align: center;
}
.center {
  position: absolute;
  right: 40%;
  top: 35%;
  width: 20%;
  height: 30%;
  text-align: center;
}
.btnlink {
  border-style: solid;
  border: 2pt solid blue;
  background-color: white;
  padding: 2vh;
  border-radius: 1vh;
  font-size: 2em;
  box-sizing: border-box;
  /* margin: 2vh; */
  display: inline-block;
}
table {
  text-align: center;
  width: 100%;
}
thead {
  background-color: #afafaf;
}
tbody > tr:nth-of-type(2n+1) {
  background-color:white;
}
#cjtJSON {
  margin-top: 50px;
  font-size: .5em;
  color: tan;
  float: right;
}
input:required:invalid, input:focus:invalid {
  border-color: red;
  border-width: 3px;
  background-color: mistyrose;
  color: darkred;
  font-weight: bold;
}
#participant_code {
  font-size: x-large;
  text-transform: uppercase;
}
.slidecontainer {
  width: 90vw;
	font-size: 1em;
	font-family: sans-serif;
	font-weight: bold;
}
.sliderbg {
	width: 90vw;
	height: 20vw;
	background-image: url("echelle.svg");
	background-size: 90vw 20vw;
	background-repeat: no-repeat;
	clear: both;
}
.slider {
	width: 84vw;
	margin: 0 3vw;
	min-height: 20vw;
	background: transparent;
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
}
.slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
	background: transparent;
	cursor: pointer;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
	width: 4vw;
	height: 15vw;
	background: transparent;
	cursor: pointer;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	border-radius: 3vw;
}
.slider::-moz-range-thumb {
	width: 4vw;
	height: 15vw;
	background: transparent;
	cursor: pointer;
	border-width: 5px;
	border-color: black;
	border-style: solid;
	border-radius: 3vw;
}
.sliderq {
  font-size: 3em;
  text-align: center;
  width: 100%;
}
.sliderl{
  width:15%;
  display: block;
  float: left;
	text-align: left;
  font-size: 1.5em;
}
.sliderr{
  width:15%;
  display: block;
  float: right;
	text-align: right;
  font-size: 1.5em;
}
.nabox {
  float: left;
  width: 45%;
  font-size: 2em;
  margin-left: 5%;
}
.nabox input[type="checkbox"] {
  width: 1em;
  height: 2em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  cursor: pointer;
  font-size: 2em;
}

.nabox input[type='checkbox']:after {
  content: "\002610";/* "☐" */
  font-size: 2em;
  font-family: monospace ;
  font-weight: bold;
  position:relative;
  left:0;
  bottom:0;
}

.nabox input[type='checkbox']:checked:after {
  content: "\002612"; /* " ☑☒⨉✔ "; \002612 \002611;*/
}